In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("data tubes asli.csv")

D:\Coolyeah\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26,27,28,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,185,186,187,188,189,190,191,193,194,195,196,197,198,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,309,310,311,312,313,314,315,316,317,319,320,321,322,323,325,326,327,328,329,330,331,333,334,335,336,337,338,340,341,342,343,345,346,348,349,350,351,352,353,354,355,356,357,358,359,361,362,363,364,365,366,368,369,370,371,372,373,374,375,376,377,378,380,381,382,383,384,385,386,387,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,408,409,410,411,412,413,415,416,417,418,419,420,422,423,424,425,426,427,428,429,430,431,432,433,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,471,472,473,474,475,476,477,478,479,480,482,483,484,485,486,487,489,490,491,492,493,494,495,496,498,499,500,501,502,503,504,505,506,508,509,510,511,512,513,515,516,517,518,519,520,521,522,523,524,525,526,527,528,530,531,532,533,534,535,536,537,539,540,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,589,590,591,592,593,595,596,597,598,599,601,602,603,604,606,607,608,609) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,Nama Surveyor (Mahasiswa ),NIM Surveyor (Mahasiswa),Kelas Surveyor (Mahasiswa),Unnamed: 3,Nama Responden,Jenis kelamin ?,Unnamed: 6,Usia :,Unnamed: 8,Unnamed: 9,...,Unnamed: 600,Apakah Anda pernah meng﻿gunakan fintech untuk investasi berikut?,Unnamed: 602,Unnamed: 603,Unnamed: 604,Unnamed: 605,Apakah Anda mengetahui terdapat regulasi OJK/ BI yang mengatur mengenai keberadaan fintech?,Unnamed: 607,Apakah status fintech yang terdaftar dan diawasi oleh OJK/BI menjadi salah satu pertimbangan penting bagi Anda untuk menggunakan layanan Fintech tersebut?,Unnamed: 609
0,Open-Ended Response,Open-Ended Response,STI (SIstem & Teknologi Informasi),Teknik Elektro,Open-Ended Response,Laki – laki,Perempuan,< 15 tahun,15-20 tahun,21-30 tahun,...,"lainnya, sebutkan",Tidak pernah menggunakan,Bareksa,Bibitnomic,LiveOlive,"Lainnya, sebutkan",Ya Tahu,Tidak Tahu,Ya,Tidak
1,Vania Alya Qonita,18219090,1,NaN,indra bayu,1,NaN,NaN,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,1,NaN,1,NaN
2,Abu Hanif,13219053,NaN,2,Mediana Safira,NaN,2,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nicholas Darmawan,18219028,1,NaN,Dewi Nathania,NaN,2,NaN,2,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,2,1,NaN
4,Nicholas Darmawan,18219028,1,NaN,Dewi Nathania,NaN,2,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Sidartha Prastya,13219033,NaN,2,.,1,NaN,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,Muhamad Taruna,13219030,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,cswadec,19128312,1,NaN,jigur,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,Jjjj,2222,NaN,2,Hh,1,NaN,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,Abbas,25020002,NaN,2,Abbas,1,NaN,NaN,2,NaN,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,1,NaN

In [4]:
data = data.fillna(0)
data

,Nama Surveyor (Mahasiswa ),NIM Surveyor (Mahasiswa),Kelas Surveyor (Mahasiswa),Unnamed: 3,Nama Responden,Jenis kelamin ?,Unnamed: 6,Usia :,Unnamed: 8,Unnamed: 9,...,Unnamed: 600,Apakah Anda pernah meng﻿gunakan fintech untuk investasi berikut?,Unnamed: 602,Unnamed: 603,Unnamed: 604,Unnamed: 605,Apakah Anda mengetahui terdapat regulasi OJK/ BI yang mengatur mengenai keberadaan fintech?,Unnamed: 607,Apakah status fintech yang terdaftar dan diawasi oleh OJK/BI menjadi salah satu pertimbangan penting bagi Anda untuk menggunakan layanan Fintech tersebut?,Unnamed: 609
0,Open-Ended Response,Open-Ended Response,STI (SIstem & Teknologi Informasi),Teknik Elektro,Open-Ended Response,Laki – laki,Perempuan,< 15 tahun,15-20 tahun,21-30 tahun,...,"lainnya, sebutkan",Tidak pernah menggunakan,Bareksa,Bibitnomic,LiveOlive,"Lainnya, sebutkan",Ya Tahu,Tidak Tahu,Ya,Tidak
1,Vania Alya Qonita,18219090,1,0,indra bayu,1,0,0,0,0,...,0,0,2,0,0,0,1,0,1,0
2,Abu Hanif,13219053,0,2,Mediana Safira,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,Nicholas Darmawan,18219028,1,0,Dewi Nathania,0,2,0,2,0,...,0,1,0,0,0,0,0,2,1,0
4,Nicholas Darmawan,18219028,1,0,Dewi Nathania,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Sidartha Prastya,13219033,0,2,.,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2017,Muhamad Taruna,13219030,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018,cswadec,19128312,1,0,jigur,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019,Jjjj,2222,0,2,Hh,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2020,Abbas,25020002,0,2,Abbas,1,0,0,2,0,...,0,1,0,0,0,0,1,0,1,0

In [5]:
def ambil_data_Single (kolom):
    hasil =[0 for i in range(2021)]
    for i in list(kolom):
        temp = data[i]
        for j in range(2021):
            if (temp[j] !=0):
                if hasil[j]==0:
                    hasil[j] = temp[0]
    for i in range(2021):
        if hasil[i]==0:
            hasil[i]='Tidak Mengisi'
    return (hasil)

In [6]:
def ambil_data_Multi(kolom,kata):
    hasil = [[] for i in range (2021)]
    for i in list(kolom):
        temp = data[i]
        for i in range (2021):
            if (temp[i] !=0):
                hasil[i] = hasil[i] +[kata + str(temp[0])]
            else :
                hasil[i] = hasil[i] +['Tidak '+kata+ str(temp[0])]
    return hasil

In [7]:
usia = ambil_data_SingleChoice(data.columns[7:13])

NameError: name 'ambil_data_SingleChoice' is not defined

In [ ]:
usia

In [ ]:
asd = ambil_data_Multi (data.columns[65:76],'Meningkat ')

In [ ]:
pd.DataFrame(asd,columns='asd').apply(pd.Series)

a = np.array(df_page2['aktivitas yang meningkat selama 3 bulan terkahir'].apply(pd.Series)[0])
collections.Counter(a)

In [15]:
i =274
a =[]
while i<304:
    a =a+[data.columns[i]]
    i = i+5

In [16]:
a

['Manakah channel/ layanan yang lebih Anda sukai ketika Anda akan menggunakan fitur-fitur layanan perbankan berikut?',
 'Unnamed: 279',
 'Unnamed: 284',
 'Unnamed: 289',
 'Unnamed: 294',
 'Unnamed: 299']

# result = pd.concat([df_page1, df_page2], axis=1, sort=False)

cara menggabungkan dataframe

In [3]:
import re

if re.search('tel','Maltekl'):
    print(True)
else:
    print(False)

False

 a= df['tujuan melakukan pinjaman melalui fintech'].apply(pd.Series)

a[0].value_counts().plot.pie()