In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix
from matplotlib.colors import ListedColormap

In [2]:
data = pd.read_csv('Train.csv')
data.head()

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,1,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,2,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,4,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,7,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,8,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869

In [3]:
#Info mengenai dataset 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          13626 non-null  int64
 1   Provinsi    13626 non-null  int64
 2   KodeKabKot  13626 non-null  int64
 3   Y           13626 non-null  int64
 4   X1          13626 non-null  int64
 5   X2          13626 non-null  int64
 6   X3          13626 non-null  int64
 7   X4          13626 non-null  int64
 8   X5          13626 non-null  int64
 9   X6          13626 non-null  int64
 10  Z1          13626 non-null  float64
 11  Z2          13626 non-null  float64
 12  Z3          13626 non-null  float64
 13  Z4          13621 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.5 MB

In [4]:
data.keys()

Index(['ID', 'Provinsi', 'KodeKabKot', 'Y', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6',
       'Z1', 'Z2', 'Z3', 'Z4'],
      dtype='object')

Jika kita lihat, terdapat 4 variabel independen, yaitu User ID, Gender, Age, dan Estimated Salary, serta 1 variabel dependen, yaitu Purchased.

Tetapi, saat split data nanti variabel User ID dan Gender akan dihapus karena tidak diperlukan.

In [5]:
#Statistik deskriptif
data.describe()

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
count,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13621.000000
mean,9763.218406,44.562601,4477.179363,0.409511,0.610744,30.380229,0.487817,0.401805,0.813518,0.875899,1.227538,6.876482,35.597681,197.945368
std,5654.343886,26.377273,2633.993903,0.491762,0.487599,6.357110,0.499870,0.490281,0.389509,0.329709,1.059310,5.638141,33.103822,137.404420
min,1.000000,11.000000,1101.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.369000,0.861000,20.183000
25%,4866.500000,18.000000,1804.000000,0.000000,0.000000,26.000000,0.000000,0.000000,1.000000,1.000000,0.564000,3.183000,16.744000,102.438000
50%,9773.500000,35.000000,3523.000000,0.000000,1.000000,30.000000,0.000000,0.000000,1.000000,1.000000,0.908000,4.965000,25.896000,163.192000
75%,14651.750000,71.000000,7171.000000,1.000000,1.000000,35.000000,1.000000,1.000000,1.000000,1.000000,1.473000,8.334000,39.854000,257.738000
max,19530.000000,94.000000,9471.000000,1.000000,1.000000,54.000000,1.000000,1.000000,1.000000,1.000000,6.960000,35.237000,291.322000,1400.875000

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for x in data.columns:
  data[x] = le.fit_transform(data[x])

data.head(10)

   ID  Provinsi  KodeKabKot  Y  X1  X2  X3  X4  X5  X6   Z1   Z2   Z3   Z4
0   0         0           0  0   1  13   0   0   1   1  248  458  257  471
1   1         0           0  0   1  24   0   0   1   0  248  458  257  471
2   2         0           0  0   0  22   0   0   0   1  248  458  257  471
3   3         0           0  0   0  13   0   0   1   1  248  458  257  471
4   4         0           0  0   1  22   1   0   0   0  248  458  257  471
5   5         0           0  1   1   6   0   1   1   0  248  458  257  471
6   6         0           0  0   1  13   0   1   1   1  248  458  257  471
7   7         0           0  0   0  22   1   0   1   1  248  458  257  471
8   8         0           0  0   0  19   1   0   1   1  248  458  257  471
9   9         0           0  0   1   9   1   0   1   1  248  458  257  471

In [7]:
#Mengecek missing values
data.isnull().values.any()

False

Karena missing value FALSE, artinya tidak ada missing value yang ditemukan pada dataset.

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
std_data = pd.DataFrame(scaler.fit_transform(data))

std_data.columns = data.columns
std_data

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,-1.731924,-1.512035,-1.705730,-0.832774,0.798340,-0.531744,-0.975925,-0.819571,0.478778,0.376410,0.301923,1.488305,0.059337,1.521198
1,-1.731669,-1.512035,-1.705730,-0.832774,0.798340,1.198666,-0.975925,-0.819571,0.478778,-2.656681,0.301923,1.488305,0.059337,1.521198
2,-1.731415,-1.512035,-1.705730,-0.832774,-1.252599,0.884046,-0.975925,-0.819571,-2.088649,0.376410,0.301923,1.488305,0.059337,1.521198
3,-1.731161,-1.512035,-1.705730,-0.832774,-1.252599,-0.531744,-0.975925,-0.819571,0.478778,0.376410,0.301923,1.488305,0.059337,1.521198
4,-1.730907,-1.512035,-1.705730,-0.832774,0.798340,0.884046,1.024669,-0.819571,-2.088649,-2.656681,0.301923,1.488305,0.059337,1.521198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,1.730907,1.765075,1.779186,1.200806,-1.252599,-0.374434,1.024669,-0.819571,0.478778,0.376410,1.046703,-0.850424,1.098507,0.393151
13622,1.731161,1.765075,1.779186,-0.832774,0.798340,-1.318293,1.024669,1.220150,0.478778,0.376410,1.046703,-0.850424,1.098507,0.393151
13623,1.731415,1.765075,1.779186,-0.832774,-1.252599,0.726736,1.024669,-0.819571,0.478778,0.376410,1.046703,-0.850424,1.098507,0.393151
13624,1.731669,1.765075,1.779186,-0.832774,-1.252599,-0.531744,1.024669,-0.819571,0.478778,0.376410,1.046703,-0.850424,1.098507,0.393151
13625,1.731924,1.765075,1.779186,1.200806,-1.252599,1.355976,1.024669,1.220150,0.478778,0.376410,1.046703,-0.850424,1.098507,0.393151

In [9]:
#Split data menjadi X dan y
X = data.drop(columns='TARGET LABEL (SYMPTOM TIME)')
y = data['TARGET LABEL (SYMPTOM TIME)']

In [10]:
#Split X dan y menjadi data training dan data testing
#25% untuk data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# Training model dengan kernel rbf

In [11]:
#Melakukan training model dengan SVC
model = SVC(kernel = 'rbf', random_state = 0)
model.fit(X_train, y_train)

SVC(random_state=0)

In [12]:
#Memprediksi hasil test data
y_pred =model.predict(X_test)

In [13]:
#Membuat confusion matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[ 2 19  0  9]
 [ 0 21  0 15]
 [ 0  4  0  0]
 [ 0 11  0 32]]

0.48672566371681414

# Training model dengan kernel linear

In [14]:
model2 = SVC(kernel='linear',random_state=0)
model2.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [15]:
y_pred = model2.predict(X_test)

In [16]:
cm2 = confusion_matrix(y_test, y_pred)
print(cm2)
accuracy_score(y_test,y_pred)

[[12 18  0  0]
 [ 5 23  0  8]
 [ 2  2  0  0]
 [ 2 16  0 25]]

0.5309734513274337